.advantages {
    

    @media (min-width: $bp-tablet){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__list {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media (min-width: $bp-tablet) {
            &:not(:last-child) {
                margin-bottom: 0px;
            }
            
            width: calc((100% - 6 * 15px) / 2);
            max-width: 354px;
        }

        @media (min-width: $bp-desktop) {
            width: calc(100%/4 - 30px/4*3);
        
        }
    }
    
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        margin-bottom: 30px;
        background-color: #f5f4fa;
        border-radius: 4px;
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;

        @media (min-width: $bp-tablet){
            text-align: left;
        }
        
    }
    
    &__desc {
        color: var(--color-text-secondary);
        line-height: 1.7;
        letter-spacing: 0.03em;
        max-width: 100%;
    }
}

