/*our team*/

.team {
    background-color: #f5f4fa ;

    &__list {

        @media screen and (min-width: $bp-tablet){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
    
        }

        @media screen and (min-width: $bp-desktop){
            flex-wrap: nowrap;
        }
    }
    
    &__item {
        background-color: var(--color-background);
        
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        max-width: 450px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 767px){

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media screen and (min-width: $bp-tablet) {
           
            width: calc((100% - 6 * 15px) / 2);
            max-width: 354px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: calc(100%/4 - 30px/4*3);
        }
    }

    &__img{
        width: 100%;
        max-width: 450px;
        height: 100%;
        
        @media screen and (min-width: $bp-tablet){
            max-width: 354px;
            height: auto;
        }

        @media screen and (min-width: $bp-desktop){
            max-width: 270px;
        }
    }
}

.member {
    padding: 30px;
   
    &__title {
        color: var(--color-text-primary);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 10px;
        
    }
    &__desc {
        color: var(--color-text-secondary);
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        
    }
}


.member-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        // /* background-color: var(--color-background); */
        fill: currentColor;
        border-radius: 50%;
        
        color: var(--color-icon);
        transition: background-color var(--timing-function),
        color var(--timing-function);

        &:hover,
        &:focus {
            background-color: var(--color-brand);
            /* fill: var(--color-background); */
            color: var(--color-background);
        }
    }
}



